@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  color: #f5f5f5;
}

:root {
  --text-black: #1c1c1c;
  --text-white: #f5f5f5;
  --bg-white: #f5f5f5;
  --bg-white-hover: #f5f5f5c3;

  --bg-black: #27272a;
  --bg-black-hover: #27272ada;

  --bg-error: #7f1d1d;
  --bg-error-hover: #7f1d1de1;
}
